h1{
    text-align:center;
}
#one{
    color: red;
}
#two{
    color:blue;
}
#three{
    color:green;
}
#fontone{
    font-size: 30px;
}
#tiny{
    font-size:5px;
}
#center{
    text-align: center;
}
#thick{
    font-weight: bold;
}
#font{
    font-family: 'Courier New', Courier, monospace;
}
#combination{
    color: orange;
    font: 30px bold ;
   
}
p.styledFont{
    color:aqua;
}
#styledImage{
    border: 10px solid orange;
}